@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: rgb(249, 246, 238);
  border-bottom: 1px solid black;
}

header img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}

/* Contenedor general */
.tables-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/* Tablas */
.main-table-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-table-container,
.auxiliar-table-container {
  padding: 40px;
  padding-left: 30px;
  border: 2px solid blue;
}

.auxiliar-table-inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Hace que el contenedor crezca para ocupar el espacio restante */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Estilos comunes de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 8px;
}

table thead th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #f2f2f2;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* Botones paginación tabla */

.pagination {
  border: 2px solid red;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.pagination button {
  margin: 10px;
  padding: 5px 10px;
}

/* Tabla auxiliar */
.auxiliar-table-inputs label {
  display: block;
  margin-bottom: 8px;
}

.auxiliar-table-inputs input[type="number"],
.auxiliar-table-inputs input[type="search"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.auxiliar-table-inputs button {
  padding: 8px 16px;
  margin-bottom: 15px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auxiliar-table-inputs button:hover {
  background-color: #e0e0e0;
}

.auxiliar-table-inputs #clear-filters {
  padding: 8px 16px;
  margin-bottom: 15px;
  background-color: #cc2e2e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auxiliar-table-inputs #clear-filters:hover {
  background-color: #8b2323;
}

/* Footer */
footer {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  padding-top: 50px;
}
